$color-navbar:  #262626;
$color-main: #ffffff;
$color-black: black;
$color-primary: #d3ab55;
$color-secondary: lightgrey;
$color-navbar: rgb(136, 188, 206);

$font-Abel: 'Abel', sans-serif;
$font-josefinSans: 'Josefin Sans', sans-serif;
$font-nunito: 'Nunito', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Sans:wght@300&family=Nunito:wght@300&display=swap');
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1.7;
    box-sizing: border-box; 
    // padding: 3rem;
}


@mixin flexLayout {
    display: flex;
    justify-content: center;
    align-items: center;
}

%fullSpace {
    width: 100%;
    height: 100%;
}

body {
    background-color: $color-main;
}

.navbar {
    position: relative;
    background-color: $color-navbar;
    z-index: 200;

    &-navigation {
        display: flex;

        &-left {
            width: 50vw;
            height: 100vh;
            background-color: rgb(110, 110, 110);
            position: fixed;
            left: -50vw;
            transition: left .8s cubic-bezier(1,0,0,1);

            .left-img {
                width: 50%;
                position: absolute;
                box-shadow: 0 15px 60px rgba($color-black, 0.4);
                opacity: .7;
                border-radius: 10px;
            }

            .left-img-1 {
                top: 15%;
                left: 15%;
            }

            .left-img-2 {
                top: 35%;
                left: 25%;
            }

            .left-img-3 {
                top: 55%;
                left: 35%;
            }

        }

        &-right {
            width: 50vw;
            height: 100vh;
            background-color: rgb(65, 63, 63);
            position: fixed;
            right: -50vw;
            @include flexLayout;
            transition: right .8s cubic-bezier(1,0,0,1);

        }

        &-list {
            list-style: none;
            @include flexLayout;
            .link-component {
                text-decoration: none;
            }

            li {
                text-decoration: none;
                color: $color-main;
                @include flexLayout;
                font-family: $font-Abel;
                font-size: 50px;
                margin:20px;
                text-align: center;
                transition: all .5s;
                &:hover {
                    color: $color-primary;
                    letter-spacing: 4px;
                }
            }

            .logout-btn {
                @include flexLayout;
                color:white;
                text-decoration:none;
                padding:5px 10px;
                border-radius:3px solid ;
                font-family: $font-Abel;
                font-size: 50px;
                transition: all .5s;
                &:hover {
                    color: $color-primary;
                    letter-spacing: 4px;
                }
            }

            
        }
    }
    .navbar-menu-button {
        width: 40px;
        height: 40px;
        position: fixed;
        top: 4rem;
        right: 5%;
        z-index: 300;

        .menu {
            @extend %fullSpace;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            cursor: pointer;
            transition: transform .5s;
            
            &-line {
                width: 100%;
                height: 4px;
                background-color:#d3ab55ea ;
                transform-origin:right ;
                transition: all .5s .5s;
            }
        }
    }
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left  {
    left: 0;
} 

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
    right: 0;
}

.checkbox:checked ~ .navbar-menu-button .menu {
    transform: rotateZ(90deg); 
}
.checkbox:checked ~ .navbar-menu-button .menu-line-1 {
    transform: rotateZ(-40deg); 
}
.checkbox:checked ~ .navbar-menu-button .menu-line-2 {
    opacity: 0;
}
.checkbox:checked ~ .navbar-menu-button .menu-line-3 {
    transform: rotateZ(40deg); 
}

.loginDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px ;
    margin: 0;
}

.login{
    width: 40vw;
    border-radius: 50px;
    border: lightgrey 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    box-shadow: 0px 1rem 2rem lightgrey;

    .login-header {
        margin: 0;
        font-family: $font-nunito;
        
    }
   
    .loginInput {
        justify-content: center;
        width: 250px;
        padding: 20px;
        margin: 15px 20px;
        border-radius: 50px;
        border: 1px solid #f2f2f2;
        font-family: 'Montserrat', sans-serif;
        text-align:center;
    }

    .btn {
        width: 300px;
        padding: 15px;
        margin: 30px;
        border-radius: 30px;
        border: 1px solid grey;
        color: white;
        background-color: #2BBA2D;
        border:none;
        font-family: 'Montserrat', sans-serif;
        font-size: large;
        font-weight: bolder;
    }

    label {
        color: black;
        font-size: 14px;
    }
}

.registerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px ;
    margin: 0;
}

.register{
    width: 40vw;
    border-radius: 50px;
    border: lightgrey 1px solid;
    box-shadow: 0px 1rem 2rem lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

    .register-header {
        margin-bottom: 10px;
        font-family: $font-nunito;
        font-weight: bold; 
    }
   
    .inputRegister {
        justify-content: center;
        width: 250px;
        padding: 20px;
        margin: 15px 20px;
        border-radius: 50px;
        border: 1px solid #f2f2f2;
        font-family: 'Montserrat', sans-serif;
        text-align:center;
    }

    .btn {
        width: 300px;
        padding: 15px;
        margin: 30px;
        border-radius: 30px;
        border: 1px solid grey;
        color: white;
        background-color: #2BBA2D;
        border:none;
        font-family: 'Montserrat', sans-serif;
        font-size: large;
        font-weight: bolder;
    }

    label {
        color: black;
        font-size: 14px;
    }
}


// Home Page CSS

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBtn {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, rgba(9, 243, 114, 0.8),
        rgba(40, 180, 133, 0.8)), 
        url(../images/homeImg.png);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    padding: 4rem;
}

.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    height: 3.5rem;
}

.header__logo__login {
    height: 3.5rem;
    background-color: #d3ab55ea;
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #ffffff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;

}

.btnHome:link,
.btnHome:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
}

.btnHome:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btnHome:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.btn--white {
    background-color: #ffffff;
    color: #777;
}

.btnHome::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    transition: all .4s;
}

.btn--white::after {
    background-color: #ffffff;
}

.btnHome:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated {
    animation: moveInBtn 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
}

.btnLeft {
    margin-right: 50px;
}

// QuizPage CSS

.quizGenerator {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, rgba(9, 243, 114, 0.8),
        rgba(40, 180, 133, 0.1)), 
        url(../images//quizPageBackground.png);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    
}

.quizGeneratorForm {
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    align-items: flex-start;
    padding: 200px;
}

///--------- Select -----------
.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 150px;
}    
.select select {
    font-family: 'Arial';
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0px solid #000000;
    border-radius: 100px;
    background: #e6e6e6;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.select select::-ms-expand {
    display: none;
}
.select select:hover,
.select select:focus {
    color: #000000;
    background: #cccccc;
}
.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}
.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}

// Btn Quiz Generator

.btnQuiz {
    width: 150px;
    padding: 15px;
    // margin: 30px;
    border-radius: 30px;
    border: 1px solid grey;
    color: white;
    background-color: #5D2BBA;
    border:none;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: bolder;
}

.stopwatch-card {
    display: flex;
}

.stopwatch-card h1, .stopwatch-card p {
    font-size: 50px;
}

.stopwatch-card p {
    padding-left: 15px;
}

.questionsQuizPage, .questionsQuizPageFinalScore {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(
        to right bottom, rgba(9, 243, 114, 0.8),
        rgba(40, 180, 133, 0.1)), 
        url(../images/questionsQuizPage.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    padding: 30px 0px;
    // clip-path: polygon(0 0, 100% 0, 100% 75vh, 50% 100vh, 0 75vh);
}

.questionsQuizPage > form {
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionsQuizPageFinalScore {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
}

.questionsUl {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    overflow-y: auto;
    margin: 20px 0px;
}

.quizQuestion {
    list-style: none;
    margin: 5px 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    width: 80%;
    padding: 20px;
    min-width: 300px;
    background: #d3ab55ea;
}

.quizQuestion h2 {
    margin-bottom: 5px;
}

.quizQuestionAnswer {
    list-style: none;
    font-size: 14px;
}

.quizQuestionAnswer label {
    padding-left: 10px;
}

/// home page user
.homePageUser {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(
        to right bottom, rgba(9, 243, 114, 0.8),
        rgba(40, 180, 133, 0.1)), 
        url(../images/quizHomePageUser.png);
    background-size: contain;
    background-position: top;
    position: relative;
    padding: 30px 0px;
}

.homePageUser h1 {
    color: #f2f2f2;
    padding-top: 100px;
    font-size: 50px;
}

.btnQ {
    margin-right: 30px;
}

.btn--purple {
    background-color: #d3ab55ea;
    color: #ffffff;
}

.btn--purple::after {
    background-color: #d3ab55ea;
}

// Top 10 Score Page

.top10-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(
        to right bottom, rgba(9, 243, 114, 0.8),
        rgba(40, 180, 133, 0.1)), 
        url(../images/top10-background.jpg);
   

    .top10-header {
        display: flex;
        justify-content: center;
        font-family: $font-josefinSans;
        margin-top: 80px;
        font-size: 35px;
        letter-spacing: 4px;
    }

    .top10-container-true {
        display: flex;
        align-content: center;
        justify-content: center;
        height: 100vh;
    }

    .top10-score {
        padding: 15px 25px;
        margin: 15px 10px;
        text-decoration: none;
        overflow-y: auto;
        height: 70%;
    }

    .quiz {
        margin: 25px 35px ;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        background: #d3ab55ea;
        .top10-score-list {
            display: flex;
            // justify-content: space-between;
            justify-content: column;
            list-style-type: none;
            margin: 25px 50px;
            padding: 20px 15px;
            font-size: 25px;
            font-family: $font-josefinSans;
            p {
                padding: 10px 15px;
            }
        }
    }
}




